.events-list {
  align-items: baseline;
  border-bottom: 1px solid var(--trivago-gray-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.green-text {
  color: var(--trivago-green-color);
}

.col-1 {
  flex-grow: 1;
  padding-bottom: 0.5rem;
}

.col-2 {
  flex-grow: 2;
  max-width: 60%;
  padding-bottom: 0.5rem;
}

.left-text {
  text-align: justify;
}
