.events-list {
  -ms-box-orient: horizontal;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
}

.green-text {
  color: var(--trivago-green-color);
}

.col-1 {
  width: 20%;
  padding-bottom: 0.5rem;
}

.col-2 {
  width: 60%;
  padding-bottom: 0.5rem;
}

.left-text {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .events-list {
    flex-direction: column;
  }
  .col-1 {
    width: 100%;
  }
  
  .col-1 a button{
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }
}

