#events-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 60%;
}

.box {
  background-color: var(--trivago-white-color);
  border: 1px solid var(--trivago-gray-color);
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.box-date {
  text-align: left;
}

.box-title {
  margin-bottom: 4rem;
  text-align: justify;
}

.box-filter {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}

@media screen and (max-width: 600px) {
  #events-box {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  .box-filter {
    flex-direction: column;
  }

  .box-filter div {
    padding: 0.5rem 0;
  }
}
