.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5rem;
}

.App-header {
  align-items: center;
  background-color: var(--trivago-white-color);
  color: var(--trivago-black-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}

.App-header .logo {
  margin-left: 5rem;
  margin-right: 10rem;
}

@media screen and (max-width: 600px) {
  .App-header .logo {
    margin: 0;
    text-align: center;
    width: 100%;
  }
}

.App-header .logo div {
  align-items: center;
  display: flex;
}

.link {
  color: var(--trivago-gray-color);
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
}

.link:hover {
  color: var(--trivago-blue-color);
}

.active button h3 {
  color: var(--trivago-blue-color);
}

.App-title {
  font-size: var(--trivago-big);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
